<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <PH2M_PhLaposteGenerateLabel>
            <version>1.0.1</version>
        </PH2M_PhLaposteGenerateLabel>
    </modules>
    <global>
        <helpers>
            <lapostegeneratelabel>
                <class>PH2M_PhLaposteGenerateLabel_Helper</class>
            </lapostegeneratelabel>
        </helpers>
        <blocks>
            <phlapostegeneratelabel>
                <class>
                    PH2M_PhLaposteGenerateLabel_Block
                </class>
            </phlapostegeneratelabel>
        </blocks>
        <models>
            <phlapostegeneratelabel>
                <class>PH2M_PhLaposteGenerateLabel_Model</class>
                <resourceModel>phlapostegeneratelabel_resource</resourceModel>
            </phlapostegeneratelabel>
            <phlapostegeneratelabel_resource>
                <class>PH2M_PhLaposteGenerateLabel_Model_Resource</class>
                <entities>
                    <lapostegeneratelabel>
                        <table>phlapostegeneratelabel_lapostegeneratelabel</table>
                    </lapostegeneratelabel>
                    <lapostegeneratelabel_store>
                        <table>phlapostegeneratelabel_lapostegeneratelabel_store</table>
                    </lapostegeneratelabel_store>
                </entities>
            </phlapostegeneratelabel_resource>
        </models>
        <resources>
            <phlapostegeneratelabel_setup>
                <setup>
                    <module>PH2M_PhLaposteGenerateLabel</module>
                    <class>PH2M_PhLaposteGenerateLabel_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </phlapostegeneratelabel_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <lapostegeneratelabel>
                <use>standard</use>
                <args>
                    <module>PH2M_PhLaposteGenerateLabel</module>
                    <frontName>lapostegeneratelabel</frontName>
                </args>
            </lapostegeneratelabel>
        </routers>
        <layout>
            <updates>
                <lapostegeneratelabel_default>
                    <file>ph/lapostegeneratelabel.xml</file>
                </lapostegeneratelabel_default>
            </updates>
        </layout>
        <translate>
            <modules>
                <PH2M_PhLaposteGenerateLabel>
                    <files>
                        <default>PH2M_PhLaposteGenerateLabel.csv</default>
                    </files>
                </PH2M_PhLaposteGenerateLabel>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <PH2M_PhLaposteGenerateLabel>
                    <files>
                        <default>PH2M_PhLaposteGenerateLabel.csv</default>
                    </files>
                </PH2M_PhLaposteGenerateLabel>
            </modules>
        </translate>
        <layout>
            <updates>
                <lapostegeneratelabel module="lapostegeneratelabel">
                    <file>ph/lapostegeneratelabel.xml</file>
                </lapostegeneratelabel>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <PH2M_PhLaposteGenerateLabel before="Mage_Adminhtml">PH2M_PhLaposteGenerateLabel_Adminhtml</PH2M_PhLaposteGenerateLabel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <general>
            <laposte_returnlabel>
                <enabled>0</enabled>
                <country_available>FR,DE,AT,BE,ES,FI,FR,IE,IT,LU,NL,PL,CZ,GB,SK,SI</country_available>
            </laposte_returnlabel>
        </general>
    </default>
</config>