<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <PH2M_PhLaposteGenerateLabel>
            <version>1.0.0</version>
        </PH2M_PhLaposteGenerateLabel>
    </modules>
    <global>
        <helpers>
            <lapostegeneratelabel>
                <class>
                    PH2M_PhLaposteGenerateLabel_Helper
                </class>
            </lapostegeneratelabel>
        </helpers>
        <blocks>
            <lapostegeneratelabel>
                <class>
                    PH2M_PhLaposteGenerateLabel_Block
                </class>
            </lapostegeneratelabel>
        </blocks>
        <models>
            <lapostegeneratelabel>
                <class>PH2M_PhLaposteGenerateLabel_Model</class>
            </lapostegeneratelabel>
        </models>
    </global>
    <frontend>
        <routers>
            <lapostegeneratelabel>
                <use>standard</use>
                <args>
                    <module>PH2M_PhLaposteGenerateLabel</module>
                    <frontName>lapostegeneratelabel</frontName>
                </args>
            </lapostegeneratelabel>
        </routers>
        <layout>
            <updates>
                <lapostegeneratelabel_default>
                    <file>ph/lapostegeneratelabel.xml</file>
                </lapostegeneratelabel_default>
            </updates>
        </layout>
        <translate>
            <modules>
                <PH2M_PhLaposteGenerateLabel>
                    <files>
                        <default>PH2M_PhLaposteGenerateLabel.csv</default>
                    </files>
                </PH2M_PhLaposteGenerateLabel>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <PH2M_PhLaposteGenerateLabel>
                    <files>
                        <default>PH2M_PhLaposteGenerateLabel.csv</default>
                    </files>
                </PH2M_PhLaposteGenerateLabel>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <general>
            <laposte_returnlabel>
                <country_available>FR,DE,AT,BE,ES,FI,FR,IE,IT,LU,NL,PL,CZ,GB,SK,SI</country_available>
            </laposte_returnlabel>
        </general>
    </default>
</config>